<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">S4G Admin panel</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="<%= owner.pathToAvatar %>"
                alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    <strong><%= owner.Username %></strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown" id="dashboard">
                    <a href="#">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                    <div class="sidebar-submenu" id="dashboard">
                        <ul>
                            <li>
                                <a href="/admin/change-avatar" id="admin-change-avatar">Change avatar</a>
                            </li>
                            <li>
                                <a href="/admin/change-password" id="admin-change-password">Change password</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown" id="ecommerce">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>E-commerce</span>
                    </a>
                    <div class="sidebar-submenu" id="ecommerce">
                        <ul>
                            <li>
                                <a href="/admin/products/add/steamid" id="admin-products-add">Add product</a>
                            </li>
                            <li>
                                <a href="/admin/products/remove" id="admin-products-remove">Remove product</a>
                            </li>
                            <li>
                                <a href="/admin/orders" id="admin-orders">Orders</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>Actions</span>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out-alt"></i>
                        <span>Log out</span>
                    </a>
                </li>
                <li class="header-menu">
                    <span>Navigation</span>
                </li>
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                        <span>Homepage</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
</nav>

<script>
    var page = document.getElementById("<%=page%>");
    page.classList.add('active');

    var tab = document.getElementById("<%=tab%>");
    tab.classList.add('active');

    var children = tab.childNodes;
    var i = 0;
    children.forEach((child) => {
        console.log("Child #", ++i,": ", child);
        if (child.id == "<%=tab%>") {
            child.setAttribute("style", "display:block;");
        }
    });
</script>