<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../../partials/head %>
    <link href="/css/user-info.css" rel="stylesheet">
</head>
<body>
    <!--================Menu Area =================-->
    <header class="shop_header_area carousel_menu_area">            
        <%- include ../../partials/navbar-small %>
    </header>
    <!--================End Menu Area =================-->
    
    <!--================Breadcrumb Area =================-->
    <%- include ../../partials/breadcrumbs %>
    <!--================End Breadcrumb Area =================-->    
    
    <div class="container page-wrapper">
        <div class="row">
            <div class="col-sm-3" style="margin-bottom: 2rem;"><!--left col-->
                <%- include ../../partials/user-info %>                
            </div><!--/col-3-->
            <div class="col-sm-9 my-auto" style="margin-bottom: 2rem;">
                <% if (status == 'failed') { %>
                    <div id="error_message_container" class="container error-message-container" style="margin-bottom:2rem;">
                        <div class="row">
                            <div class="col-2 col-sm-1 error-icon">
                                <i class="icon_error-triangle"></i>
                            </div>
                            <div class="col-8 col-sm-11 error-message">
                                <p>Failed to change password. Check your input.</p>
                            </div>
                        </div>            
                    </div>
                <% } %>
                <form class="login_form row" action="/user/<%=owner.UID%>/change-password" method="post">
                    <div class="col-sm-6 offset-sm-3 form-group">
                        <input class="form-control" type="password" placeholder="Old password" name="old_pass">
                    </div>
                    <div class="col-sm-6 offset-sm-3 form-group">
                        <input class="form-control" type="password" placeholder="New password" name="new_pass">
                    </div> 
                    <div class="col-sm-6 offset-sm-3 form-group">
                        <input class="form-control" type="password" placeholder="Re-New password" name="re_new_pass">
                    </div>
                    <input type="hidden" name="uid" value="<%=owner.UID%>"></input>
                    <div class="col-sm-6 offset-sm-3 form-group">
                        <button type="submit" value="submit" class="btn subs_btn form-control">Change password</button>
                    </div>
                </form>                          
            </div><!--/col-9-->          
        </div><!--/row-->
    </div>
    
    <!--================Footer Area =================-->
    <footer class="footer_area">
        <%- include ../../partials/footer %>
    </footer>
    <!--================End Footer Area =================-->
    
    
    <%- include ../../partials/scripts %>
    <script src="/js/user-info.js"></script>
</body>
</html>