<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../../partials/head %>
    <link href="/css/user-info.css" rel="stylesheet">
</head>
<body>
    <!--================Menu Area =================-->
    <header class="shop_header_area carousel_menu_area">            
        <%- include ../../partials/navbar-small %>
    </header>
    <!--================End Menu Area =================-->
    
    <!--================Breadcrumb Area =================-->
    <%- include ../../partials/breadcrumbs %>
    <!--================End Breadcrumb Area =================-->    
    
    <div class="container page-wrapper">
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                <%- include ../../partials/user-info %>                
            </div><!--/col-3-->
            <div class="col-sm-9">
                <!-- Page content -->
                <% if (uploadStatus == 'failed') { %>
                    <div id="error_message_container" class="container error-message-container" style="margin-bottom:2rem;">
                        <div class="row">
                            <div class="col-2 col-sm-1 error-icon">
                                <i class="icon_error-triangle"></i>
                            </div>
                            <div class="col-8 col-sm-11 error-message">
                                <p>Upload failed. Please make sure you are uploading an image.</p>
                            </div>
                        </div>            
                    </div>
                <% } %>
                <% if (uploadStatus == 'success') { %>
                    <div id="success_message_container" class="container success-message-container" style="margin-bottom:2rem;">
                        <div class="row">
                            <div class="col-2 col-sm-1 success-icon">
                                <i class="icon_check_alt "></i>
                            </div>
                            <div class="col-8 col-sm-11 success-message">
                                <p>Successfully changed avatar.</p>
                            </div>
                        </div>            
                    </div>
                <% } %>
                <h2>Page content goes here</h2>
            </div><!--/col-9-->          
        </div><!--/row-->
    </div>
    
    <!--================Footer Area =================-->
    <footer class="footer_area">
        <%- include ../../partials/footer %>
    </footer>
    <!--================End Footer Area =================-->
    
    
    <%- include ../../partials/scripts %>
    <script src="/js/user-info.js"></script>
</body>
</html>