<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../../partials/head %>
    <link href="/css/user-info.css" rel="stylesheet">
</head>
<body>
    <!--================Menu Area =================-->
    <header class="shop_header_area carousel_menu_area">            
        <%- include ../../partials/navbar-small %>
    </header>
    <!--================End Menu Area =================-->
    
    <!--================Breadcrumb Area =================-->
    <%- include ../../partials/breadcrumbs %>
    <!--================End Breadcrumb Area =================-->    
    
    <div class="container page-wrapper">
        <div class="row">
            <div class="col-sm-3"><!--left col-->
                <div class="text-center">
                    <h1>Username</h1>
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <form action="/user-info" method="post">
                        <input type="file" class="text-center center-block file-upload">
                        <button class="btn_avatar_change" type="submit" value="submit"> Change avatar</button>
                    </form>                    
                </div></hr><br>                
                
                <ul class="user-nav list-group">
                    <li class="list-group-item user-nav-header">Control panel</li>
                    <li class="list-group-item"><a href="#">Item 1</a></li>
                    <li class="list-group-item"><a href="#">Item 2</a></li>
                    <li class="list-group-item"><a href="#">Item 3</a></li>
                    <li class="list-group-item"><a href="#">Item 4</a></li>
                    <li class="list-group-item"><a href="/logout">Log out</a></li>
                </ul>                
            </div><!--/col-3-->
            <div class="col-sm-9">
                <!-- Page content -->
                <h2>Page content goes here</h2>
            </div><!--/col-9-->          
        </div><!--/row-->
    </div>
    
    <!--================Footer Area =================-->
    <footer class="footer_area">
        <%- include ../../partials/footer %>
    </footer>
    <!--================End Footer Area =================-->
    
    
    <%- include ../../partials/scripts %>
    <script src="/js/user-info.js"></script>
</body>
</html>