<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../partials/head %>
    </head>
    <body>
        
        <!--================Menu Area =================-->
        <header class="shop_header_area carousel_menu_area">
            <%- include ../partials/navbar-small %>
        </header>
        <!--================End Menu Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <%- include ../partials/breadcrumbs %>
        <!--================End Breadcrumb Area =================-->
        
        <!--================Shopping Cart Area =================-->
        <section class="shopping_cart_area p_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart_items">
                            <h3>Your Cart Items</h3>
                            <div class="table-responsive-md">
                                <table class="table">
                                    <tbody>
                                        <% var i = 0; %>
                                        <% cart.forEach(item => { %>
                                            <% product = products[i]; %>
                                            <tr>
                                                <th scope="row">
                                                    <a href="/cart/<%=owner.UID%>/remove?pid=<%item.PID%>"
                                                        <img src="/images/icon/close-icon.png" alt="">
                                                    </a>
                                                </th>
                                                <td>
                                                    <div class="media">
                                                        <div class="d-flex">
                                                            <img src="<%=product.header_image%>" alt="">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4><%=product.Name%></h4>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><p class="green"><%=product.Price*item.Amount%></p></td>
                                                <td>
                                                    <div class="quantity">
                                                        <h6>Quantity</h6>
                                                        <div class="custom">
                                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) {result.value--;item.Amount--;}return false;" class="reduced items-count" type="button"><i class="icon_minus-06"></i></button>
                                                            <input type="text" name="qty" id="sst" maxlength="12" value="<%=item.Amount%>" title="Quantity:" class="input-text qty">
                                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) {result.value++;item.Amount++;}return false;" class="increase items-count" type="button"><i class="icon_plus"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><p><%=product.Price%></p></td>
                                            </tr>
                                        <% ++i; }); %>                                                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form class="col-lg-4" action="/checkout" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="UID" value="req.session.user.UID">
                        <input type="hidden" name="cart" value="<%=cart%>">
                        <div class="cart_totals_area">
                            <h4>Cart Totals</h4>
                            <div class="cart_t_list">
                                <div class="media">
                                    <div class="d-flex">
                                        <h5>Subtotal</h5>
                                    </div>
                                    <div class="media-body">
                                        <% var total = 0; var i=0; %>
                                        <% cart.forEach(item => { %>
                                            <% total += item.Amount * products[i].Price %>
                                        <% ++i; }); %>
                                        <h6><%=total%> VND;</h6>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="d-flex">
                                        <h5>Shipping</h5>
                                    </div>
                                    <div class="media-body">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model tex</p>
                                    </div>
                                </div>                                
                            </div>
                            <div class="total_amount row m0 row_disable">
                                <div class="float-left">
                                    Total
                                </div>
                                <div class="float-right">
                                    <%=total%> VND;
                                </div>
                            </div>
                        </div>
                        <button type="submit" value="submit" class="btn subs_btn form-control">Proceed to checkout</button>
                    </form>
                </div>
            </div>
        </section>
        <!--================End Shopping Cart Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <%- include ../partials/footer %>
        </footer>
        <!--================End Footer Area =================-->
        
        <%- include ../partials/scripts %>
    </body>
</html>