<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../partials/head %>
    </head>
    <body>
        
        <!--================Menu Area =================-->
        <header class="shop_header_area carousel_menu_area">            
            <%- include ../partials/navbar-small %>
        </header>
        <!--================End Menu Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <%- include ../partials/breadcrumbs %>
        <!--================End Breadcrumb Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area p_100">
            <div class="container">
                <div class="contact_title">
                    <h2>Get in Touch</h2>
                </div>
                <div class="row contact_details">
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <p>Địa chỉ: 227 Nguyễn Văn Cừ,<br/> Phường 4, Quận 5, Tp. HCM. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="tel:+84708887175">+84 708 887 175</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="mailto:1653043@student.hcmus.edu.vn">1653043@student.hcmus.edu.vn</a>
                                <a href="mailto:1653032@student.hcmus.edu.vn">1653032@student.hcmus.edu.vn</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!--================End Contact Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <%- include ../partials/footer %>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        <!--================Contact Success and Error message Area =================-->
        <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Thank you</h2>
                        <p>Your message is successfully sent...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Sorry !</h2>
                        <p> Something went wrong </p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->
        
        <%- include ../partials/scripts %>
    </body>
</html>