<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../partials/head %>
    </head>
    <body class="home_full_width">
        <!--================Full Width Menu Area =================-->
        <header class="shop_header_area fullwidth_menu">
            <%- include ../partials/navbar-large %>
        </header>
        <!--================End Full Width Menu Area =================-->
        
        <!--================Slider Area =================-->
        <section class="main_slider_area">
            <div id="fullwidth_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="/images/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/images/home-slider/gaming-4.png"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    </li>                    
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->
                
        <!--================Isotope Slider Area =================-->
        <section class="fillter_product_slider_area">
            <div class="container">
                <div class="fillter_product_inner">
                    
                    <div class="row home-heading">
                        <h2>New games</h2>
                    </div>
                
                    <div class="row product-area-container">
                        
                        <% if (newProducts) newProducts.forEach(newProduct => { %>
                        <!-- 1 product -->
                        <div class="product-container col-md-6 col-lg-4 col-xl-3">
                            <div class="fillter_product">
                                <div class="l_product_item">
                                    <div class="l_p_img">
                                        <img src="<%=newProduct.header_image%>" alt="">
                                    </div>
                                    <div class="l_p_text">
                                        <ul>
                                            <% var url = '/login?redirect?url=products'; var btnText = 'Add to cart'%>
                                            <% if (role != "GUEST" && role != "ADMIN") url = '/cart/' + user.UID + '/add?id=' + newProduct.STEAMID; %>
                                            <% if (role == "ADMIN") {url = '/products/edit?id=' + newProduct.STEAMID; btnText = 'Edit product'} %>
                                            <li><a class="add_cart_btn" href="<%=url%>"><%=btnText%></a></li>
                                        </ul>
                                        <h4><%=newProduct.Name%></h4>
                                        <h5><%=newProduct.Price%> VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <!-- 1 product -->
                    </div>

                    <div class="row home-heading">
                        <h2>Popular games</h2>
                    </div>
                    
                    
                    <div class="row product-area-container">
                    <% if (hotProducts) hotProducts.forEach(hotProduct => { %>
                        <div class="product-container col-md-6 col-lg-4 col-xl-3">
                            <div class="fillter_product">
                                <div class="l_product_item">
                                    <div class="l_p_img">
                                        <img src="<%=hotProduct.header_image%>" alt="">
                                    </div>
                                    <div class="l_p_text">
                                        <ul>
                                            <% var url = '/login?redirect?url=products'; var btnText = 'Add to cart';%>
                                            <% if (role != "GUEST" && role != "ADMIN") url = '/cart/' + user.UID + '/add?id=' + hotProduct.STEAMID; %>
                                            <% if (role == "ADMIN") {url = '/products/edit?id=' + hotProduct.STEAMID; btnText = 'Edit product';}%>
                                            <li><a class="add_cart_btn" href="<%=url%>"><%=btnText%></a></li>
                                        </ul>
                                        <h4><%=hotProduct.Name%></h4>
                                        <h5><%=hotProduct.Price%> VND</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    </div>


                </div>
            </div>
        </section>
        <!--================End Isotope Slider Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area footer_bg">
            <%- include ../partials/footer %>
        </footer>
        <!--================End Footer Area =================-->
        
        <%- include ../partials/scripts %>
    </body>
</html>