<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../partials/head %>
    </head>
    <body>
        
        <!--================Menu Area =================-->
        <header class="shop_header_area carousel_menu_area">
            <%- include ../partials/navbar-small %>
        </header>
        <!--================End Menu Area =================-->

        <!--================Error message area=============-->
        <% if (redirected) { %>
        <div id="error_message_container" class="container error-message-container" style="margin-bottom:2rem;">
            <div class="row">
                <div class="col-2 col-sm-1 error-icon">
                    <i class="icon_info"></i>
                </div>
                <div class="col-10 col-sm-11 error-message">
                    <p>You need to be logged in to use this feature.</p>
                </div>
            </div>            
        </div>
        <% } %>
        <!--================End error message area=============-->
        
        <!--================Breadcrumb Area =================-->
        <%- include ../partials/breadcrumbs %>
        <!--================End Breadcrumb Area =================-->
        
        <!--================login Area =================-->
        <section class="login_area p_100">
            <div class="container">
                <div class="login_inner">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="login_title">
                                <h2>log in your account</h2>
                                <p>Log in to your account to discovery all great features in this template.</p>
                            </div>
                            <form class="login_form row" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="text" placeholder="Username" name="username">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <input class="form-control" type="text" placeholder="Password" name="password">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Keep me logged in</label>
                                        <div class="check"></div>
                                    </div>
                                    <h4>Forgot your password ?</h4>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" value="submit" class="btn update_btn form-control"    >Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-8">
                            <div class="login_title">
                                <h2>create account</h2>
                                <p>Follow the steps below to create email account enjoy the great mail.com emailing experience. Vivamus tempus risus vel felis condimentum, non vehicula est iaculis.</p>
                            </div>
                            <form class="login_form row" action="/create_account" method="POST" enctype="application/x-www-form-urlencoded">
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="text" placeholder="Name" name="name">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="text" placeholder="Username" name="username">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="text" placeholder="Phone" name="phone">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <input class="form-control" type="password" placeholder="Re-Password" name="repassword">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <button type="submit" value="submit" class="btn subs_btn form-control">register now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End login Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <%- include ../partials/footer %>
        </footer>
        <!--================End Footer Area =================-->
        
        <%- include ../partials/scripts %>
    </body>
</html>