<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <!--================Menu Area =================-->
    <header class="shop_header_area carousel_menu_area">            
      <%- include ../partials/navbar-small %>
    </header>
    <!--================End Menu Area =================-->

    <!--================Breadcrumb Area =================-->
    <%- include ../partials/breadcrumbs %>
    <!--================End Breadcrumb Area =================-->
    <div class="container page-content">
      <div class="row home-heading">
          <h2>Category: <%=category%></h2>
      </div>

      <div class="row product-area-container">
        
        <!-- 1 product -->
        <div class="product-container col-md-6 col-lg-4 col-xl-3">
          <div class="fillter_product">
            <div class="l_product_item">
              <div class="l_p_img">
                <img src="/images/home-slider/full-width-1.jpg" alt="">
              </div>
              <div class="l_p_text">
                <ul>
                  <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                </ul>
                <h4>Quay Invader Sunglasses</h4>
                <h5>$85.50</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- 1 product -->

      </div>
    </div>
    <!--================Footer Area =================-->
    <footer class="footer_area">
      <%- include ../partials/footer %>
    </footer>
    <!--================End Footer Area =================-->


    <%- include ../partials/scripts %>
  </body>
</html>