<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../partials/head %>
    <link href="/css/admin-panel.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- Page wrapper -->
    <div class="page-wrapper chiller-theme toggled">
      <%- include ../../partials/admin-sidebar %>
      <!-- page-content" -->
      <main class="page-content">
        <div class="container-fluid">

        <div class="col mx-auto my-auto" style="margin-bottom: 2rem;">

        <h2 class="text-center text-primary-color">Adding game to database</h2>
        <div class="row" style="margin-bottom: 2rem;"></div>          

        <div class="row" style="margin-bottom: 2rem;">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <img src="<%= gameInfo.header_image %>" alt=""></img>
          </div>
        </div>

        <form class="login_form row" action="/admin/products/add/s4g" method="post">
          <!--1 entry-->
          <div class="col-md-1 col-lg-2">
            <label for="product_name">Product name:</label>
          </div>
          <div class="col-md-11 col-lg-10 form-group">
            <input class="form-control" type="text" name="product_name" value="<%=gameInfo.name%>">
          </div>
          <!--1 entry-->

          <!--1 entry-->
          <div class="col-md-1 col-lg-2">
            <label for="product_price">Price <% gameInfo.is_free ? "" : "(" + gameInfo.price_overview.currency + ")"%>:</label>
          </div>
          <div class="col-md-11 col-lg-10 form-group">
            <input class="form-control" type="number" name="product_price" value="<% gameInfo.is_free? 0 : gameInfo.price_overview.final/100%>">
          </div>
          <!--1 entry-->

          <!--1 entry-->
          <div class="col-md-1 col-lg-2">
            <label for="product_category">Category:</label>
          </div>
          <div class="col-md-11 col-lg-10 form-group">
            <select id="product_category" name="product_category" onchange="checkAdd()">
              <% categories.forEach(category => { %>
                <option value="<%=category.Endpoint%>"><%=category.Name%></option>
              <% }); %>
              <option value="addnew">Add a new category</option>
            </select>
          </div>
          <!--1 entry-->
          <div id="newcat" class="col-12 hidden" style="margin-top: 1rem; margin-bottom: 1rem;">
            <div class="row">
              <!--1 entry-->
              <div class="col-md-1 col-lg-2">
                <label for="category_name">New category:</label>
              </div>
              <div class="col-md-11 col-lg-10 form-group">
                <input class="form-control" type="text" name="category_name">
              </div>
              <!--1 entry-->
              <!--1 entry-->
              <div class="col-md-1 col-lg-2">
                <label for="category_endpoint">HTML endpoint:</label>
              </div>
              <div class="col-md-11 col-lg-10 form-group">
                <input class="form-control" type="text" name="category_endpoint">
              </div>
              <!--1 entry-->            
            </div>            
          </div>
          

          <!--1 entry-->
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-2">
                <label for="product_isnew">New:</label>
              </div>
              <div class="col-10 form-group">
                <input class="form-control" type="checkbox" name="product_isnew" value="new">
              </div>  
            </div>
          </div>
          <!--1 entry-->
          <!--1 entry-->
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-2">
                <label for="product_ishot">Hot:</label>
              </div>
              <div class="col-10 form-group">
                <input class="form-control" type="checkbox" name="product_hot" value="hot">
              </div>  
            </div>
          </div>
          <!--1 entry-->
          
        </form>         
      </div><!--/col-->

          
          
        </div>
        <footer class="footer_area">
          <%- include ../../partials/footer %>
        </footer>
      </main>
    </div>

    <!--================Scripts=========================-->
    <%- include ../../partials/scripts %>
    <script src="/js/admin.js"></script>
    <!--================End scripts=========================-->

    <script>
      function checkAdd() {
        var select_category = document.getElementById("product_category");
        console.log(select_category.value);
        var form = document.getElementById("newcat");
        if (select_category.value == "addnew") {
          // Show form
          form.classList.remove("hidden");
        } else {
          // Hide form
          form.classList.add("hidden");          
        }
      }
      
    </script>
  </body>
</html>